.background{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
width:850px;
padding:40px;
border-radius:16px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:18px;
margin-bottom:20px;
}

.full{
grid-column: span 2;
}

button{
width:100%;
margin-top:20px;
}
